body
{
    margin: 0px ;
}

.logo
{
    width: 100px;
}
.big
{
    
    display: flex;
    width: fit-content;
    border-radius: 20px;
    align-items: center;
    /* padding-inline: 25px; */
    padding: 8px;
    box-shadow: 1px 0px 3px 0px grey;
}
.merg
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header
{
    top: 0px;
    position: fixed;
    background-color:white;
    right: 0px;
    left: 0px;
   
}
.combined
{
    display: flex;
    justify-content: space-between;
    /* padding: 0px 15px 0px 15px; */
    margin: 15px 4rem;
    padding-bottom: 10px;
   
}
.cane
{
    padding-right: 8px;
}
.pare
{
    padding-right: 10px;
}
.jar
{
    padding-left: 15px;
}
.noth
{
    padding-right: 30px;
}
.mirr
{
    border: 1px solid black;
    padding: 5px;
    border-radius: 30px;
    background-color: #ff5a5f;
    color: white;
    border: none;
}
.ides
{
    width: 30px;
}
.now
{
    display: flex;
    border: 1px solid grey;
    width: 90px;
    border-radius: 30px;
    align-items: center;
    height: 45px;
}
.become
{
    padding-right: 25px;
}
.space
{
    width: 30px;
}
.logomerg
{
    display: flex;
    justify-content: space-between;
    margin: 15px 4rem;
}
.midd
{
    border-bottom: 1px solid grey;
    box-shadow: 0px 1px 1px 0px grey;
}
.filt
{
    border-radius: 10px;
    width: 90px;
    height: 40px;
    font-size: small;
    font-weight: 600;
    background-color: white;
}

.crd1
{
    width: 330px;
    height: 265px;
    border-radius: 15px;
}
.total
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 180px 4rem;
}
.finland
{
    line-height: 23px;
    padding-bottom: 40px;
}
.last
{
    padding-left: 90px;
}
.last1
{
    padding-left: 120px
}
.last2
{
    padding-left: 145px
}
.last3
{
    padding-left: 145px
}
.last4
{
    padding-left: 160px;
}
.kilo
{
    color: darkgray;
}
.suoms
{
    font-weight: 500;
}
.mapi
{
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 45px;
    width: 130px;
}
.fixer
{
    position: fixed;
    
}
.details
{
    display: flex;
    justify-content: space-between;
    margin: 0px 4rem;
    background-color: white;
}
.laster
{
    bottom: 0px;
    position: fixed;
    background-color: white;
    right: 0px;
    left: 0px;
    background: transparent;
}
.company
{
    justify-content: space-between;
}
.buttn
{
    padding-bottom: 30px;
}
.pares
{
    display: flex;

}
.lets
{
    padding-right: 10px;
}
.resource
{
    display: flex;
}
.foot
{
    padding-right: 10px;
}
.india
{
    padding-right: 15px;
}